[submodule "tools/mcp/open-meteo-mcp"]
	path = tools/mcp/open-meteo-mcp
	url = https://github.com/cmer81/open-meteo-mcp
[submodule "skills/superpowers"]
	path = skills/superpowers
	url = https://github.com/obra/superpowers
[submodule "skills/everything-claude-code"]
	path = skills/everything-claude-code
	url = https://github.com/affaan-m/everything-claude-code
[submodule "skills/awesome-claude-code"]
	path = skills/awesome-claude-code
	url = https://github.com/hesreallyhim/awesome-claude-code
[submodule "tools/mcp/n8n-mcp"]
	path = tools/mcp/n8n-mcp
	url = https://github.com/czlonkowski/n8n-mcp
[submodule "tools/skills/self-improving-agent"]
	path = tools/skills/self-improving-agent
	url = https://github.com/peterskoett/self-improving-agent.git
